/* App.css */
#progress-bar {
  height: 30px;
  background-color: lightgray;
  position: relative;
}

#progress-bar::after {
  content: "";
  display: block;
  height: 100%;
  width: var(--p);
  background-color: blue;
}
